.search-bar{
  padding: 0 10px;
  margin-bottom: 12px;
  background: #ffffff;
  .el-input__icon{
    width:20px;
  }
  .el-input__inner{
    padding-right:16px;
    padding-left:5px;
  }
  .el-input.el-date-editor.el-date-editor--date{
    width:106px;
  }
  .el-input.el-date-editor.el-date-editor--date input{
    height:26px;
  }
  li{
    display: flex;
    align-items: center;
    float:left;
    height:43px;
    &:nth-child(2){
      margin: 0 5px;
    }
    &:last-child{
      float: right;
    }
    button{
      padding:5px 10px;
    }
  }
}
.select-bar,.select-time{
  display: flex;
  padding:0 10px;
  justify-content: flex-end;
  margin-bottom: 12px;
  background: #ffffff;
  li{
    display: flex;
    height:38px;
    align-items: center;
    .select,.el-input{
      width: 126px;
      margin-right:10px;
      input{
        height:26px;
      }
    }
    button{
      padding:5px 10px;
    }

  }
}
