.wait-query{
  .el-tabs__nav{
    width: 100%;
  }
  .el-tabs__item{
    padding: 0;
    width:50%;
    text-align: center;
  }
  .el-tabs__header{
    margin-bottom: 12px;
    background: #ffffff;
  }
}