.container{
    height:calc(100vh - 50px);
    background: #f5f9fa;
    overflow: hidden;
}
.el-table th{
    background:#169fff;
}
.el-table__header-wrapper thead div{
    color:#ffffff;
    background:#169fff;
}
.padding-left-10{
    padding-left: 10px;
}
.padding-right-10{
    padding-right: 10px;
}

.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right:10px;
}
.el-collapse-item__header{
    display: flex;
    align-items: center;

}
.el-collapse-item__header section{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 20px;
}
.el-collapse{

}
.table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:38px;
    color:#ffffff;
    background: #169fff;
}
.table-head li:first-child{
    margin-left: 20px;
}
.table-head li:last-child{
    margin-right: 20px;
}
.el-table .cell, .el-table th>div{
    padding:0;
    text-align: center;
}
.el-message-box{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.data-empty{
    padding:20px;
    text-align: center;
    color:#b6b6b6;
}
table{
    width:100%;
}