.padding-left-10{
    padding-left: 10px;
}
.padding-right-10{
    padding-right: 10px;
}


.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right:10px;
}

.icon-xitongjiaoseyingyong{
     color:#11ddaa;
 }
.icon-xitongguanli-{
     color:#fad36c;
 }
.icon-caozuoxitong{
     color:#fb56cf;
 }
.icon-apixitongrizhi{
     color:#12bbfc;
 }
.icon-drgspingtairuanjianxitong37{
     color:#fca03b;
 }
.icon-xitongguanli{
     color:#16d2ba;
 }
.icon-xitongpeizhi{
     color:#12b6fd;
 }
.icon-navicon-xtpz{
    color:#fb36b9;
}
.el-message-box{
   width:300px;
}
